<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TMPT.Properties.Settings.db_PWMSConnectionString"
            connectionString="Data Source=WIN-NBO2JVGOUA2;Initial Catalog=db_PWMS;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="TMPT.Properties.Settings.db_PWMSConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DataBase\db_PWMS.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>